[Unit]
Description=handle-server
After=network.target

[Service]
Type=simple
User=handle-server
Group=handle-server
#TODO: file redirection incorrectly interpreted because of internal "exec"?
ExecStart=/opt/handle-server/bin/hdl-server /opt/handle-server/svr_1
Restart=always

[Install]
WantedBy=multi-user.target
